 <button 
    class="btn btn-primary" type="submit"
    data-controller="confirmation"
    data-action="click->confirmation#confirm"
  data-confirmation-title-after-confirm-value="Save it!"
  data-confirmation-text-after-confirm-value="Your file has been saved."
  data-confirmation-confirm-button-text-value="save"
  data-confirmation-message-value="Do you want to save this?"
  data-confirmation-url-value="<%= @redirect %>">
  Save Data
</button>
