<div class="main-content d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <%= image_tag('error.png', alt: '404 Error', class: 'mw-430 mb-4 w-100') %>
    <h3 class="fs-24 mb-3">Oops! Page not found.</h3>
    <p class="mb-4">It looks like the page you are looking for does not exist.</p>
    <a href="/" class="btn btn-primary py-2 px-4 fs-16 fw-medium">
      Back to Home
    </a>
  </div>
</div>
